<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<footer class="bg-[#1e293b] py-[30px]">

    <div class="flex justify-center items-center gap-[20px]">

        <img  src="https://uzmovi.net/images/logo.gif" alt="Lo" class="h-[80px] ml-[-350px] w-[277px]">

        <a href="#" class="text-gray-300 border border-gray-600 px-[12px] py-[6px] rounded ml-[90px]">
            Reklama
        </a>

        <a href="#" class="text-gray-300 border border-gray-600 px-[12px] py-[6px] rounded">
            DMCA
        </a>

        <a href="#" class="text-gray-300 border border-gray-600 px-[12px] py-[6px] rounded">
            Sayt qoidalari
        </a>

        <a href="#" class="text-gray-300 border border-gray-600 px-[12px] py-[6px] rounded">
            Qayta aloqa
        </a>

        <a href="#" class="text-gray-300 border border-gray-600 px-[12px] py-[6px] rounded">
            Yosh toifasi
        </a>

        <div class="w-[30px] h-[30px] border border-white rounded-full text-white flex items-center justify-center">
            16+
        </div>

    </div>

</footer>
<div class="w-[1912px] h-[81px] bg-[#131a20] text-white">
     <div class="mt-[0px] text-center text-gray-400 text-[14px]">
        © UZMOVI.com — 2019 - 2026
    </div>

    <div class="text-center text-gray-500 text-[13px] mt-[5px]">
       Права на фильмы принадлежат их авторам. Все фильмы представлены только для ознакомления. <br>

Администрация не несет ответственности за размещенные пользователями нелегальные материалы! Любой фильм будет удален по требованию правообладателя
    </div>
</div>
</body>
</html>